.header {
  z-index: 20;
  position: fixed;
  width: 100%;
  left: 0;
  right: 0;
  top: 0;
  transition: all 150ms ease;
  min-height: 91px;
  /* temporary styles */
  background: $white;

  &--fixed {
    box-shadow: 0px 0px 19px -10px rgba($dark, 0.7);
    background: $white;
    min-height: 70px;
    top: 0;

    @media(max-width: 991px) {
      top: 0;
    }
  }

  &--subpage {
    @media(min-width: 992px) {
      box-shadow: 0px 11px 31px -23px rgba(49, 49, 49, 0.44);
    }
  }

  // &--open {
  //   background: rgba($dark, 0.85);

  //   @media(max-width: 991px) {
  //     background: $dark;
  //   }
  // }
}

body.admin-bar {
  .header {
    top: rem-calc(32);

    &--fixed {
      top: rem-calc(-13);
    }
  }
}