.text-center {
  text-align: center;
}

.mt-5 {
  margin-top: 30px;
}

.mb-5 {
  margin-bottom: 30px;
}

.position-static {
  position: static !important;
}

.position-relative {
  position: relative !important;
}

.position-absolute {
  position: absolute !important;
}

.position-fixed {
  position: fixed !important;
}

.object-fit-cover {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
  max-width: 100%;
}

.object-fit-contain {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: contain;
  max-width: 100%;
}

.cover {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: 4;
  margin: 0;
  padding: 0;
  display: block;
}

.inactive {
  pointer-events: none;
}

/* RWD helping styles */
.mobile-only {
  @media (min-width: 992px) {
    display: none !important;
  }
}

.desktop-only {
  @media (max-width: 991px) {
    display: none !important;
  }
}

