.button {
  display: inline-block;
  background: $theme-color;
  color: $white;
  padding: 13px 25px;
  font-size: 18px;
  text-transform: uppercase;
  border: 1px solid $theme-color;
  transition: all 300ms ease;
  font-weight: 700;
  border-radius: $theme-border-radius !important;
  white-space: nowrap;
  flex-shrink: 0;
  text-align: center;
  min-width: rem-calc(125);
  line-height: 1 !important;
  position: relative;
  overflow: hidden;

  @media(max-width: 449px) {
    padding: 10px 20px;
    font-size: 15px;
  }

  &:hover {
    color: $white;
    border: 1px solid $theme-color;
    background: $theme-color;

    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: -100%;
      height: 100%;
      width: 100%;
      background: linear-gradient(120deg, transparent, rgba(255, 255, 255, 0.4), transparent);
      transition: none;
      animation: mmpuu 1s infinite;
    }
  }

  @keyframes mmpuu {
    0% {
      left: -100%;
    }
    50% {
      left: 100%;
    }
    100% {
      left: 100%;
    }
  }

  &--checkout, &--continue-shopping, &--update-cart {
    min-width: rem-calc(184);
    text-align: center;
  }

  &--checkout {
    margin: rem-calc(20) 0 0;
  }

  &--continue-shopping, &--update-cart {
    margin: rem-calc(10) 0 0;
    border: 1px solid $text-color;
    background: transparent;
    color: $text-color;

    &:hover {
      background: $theme-color;
      border: 1px solid $theme-color;
    }

    &::before {
      display: none;
    }
  }
  
  &--ghost {
    background: transparent;
    border: 1px solid $text-color;
    color: $text-color;
  }

  &--inactive {
    background: $light-gray;
    border: 1px solid $very-light-gray;
    color: $gray2;
    pointer-events: none;
    cursor: context-menu;

    &:hover {
      background: $light-gray;
      border: 1px solid $very-light-gray;
      color: $gray2;
    }
  }

  &--full-width {
    display: block;
    width: 100%;
    padding: rem-calc(30) rem-calc(25) rem-calc(31);
    font-size: 19px;
  }

  &.single_add_to_cart_button {
    margin: 0;
    height: rem-calc(48);
  }
  
  &.acf-button {
		background: #f6f7f7 !important;
    padding: 0 rem-calc(10) !important;
    color: #2271b1 !important;
    font-size: 13px !important;
    line-height: 2.15384615 !important;
    border: 1px solid #2271b1 !important;
	}
}

.added_to_cart {
  display: none !important;
}