.mailchimp-newsletter {
  width: 100%;
  margin: rem-calc(25) 0 0;

  &__form {
    display: flex;

    @media(max-width: 767px) {
      justify-content: center;
    }

    input {
      max-width: rem-calc(143);
    }
  }

  p {
    margin: rem-calc(10) 0 0;
    font-size: rem-calc(13);

    label {
      input {
        margin: 0 5px 0 0;
        position: relative;
        bottom: -2px;
      }
    }

    a {
      text-decoration: underline;
    }
  }
}

.mc4wp-form-submitted.mc4wp-form-success {
  .mailchimp-newsletter {
    display: none;
  }
}