.preloader {
  width: 100vw;
  height: 100vh;
  position: fixed;
  background: $white;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: none;
  z-index: 99999;
  align-items: center;
  justify-content: center;

  &__logo {
    width: 150px;
    height: 100px;
    
    img {
      animation: preloader 2000ms ease infinite;
      max-width: 100%;
      height: auto;
      display: block;
    }
  }
}

@keyframes preloader {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(0.9);
  }

  100% {
    transform: scale(1);
  }
}