html {
  scrollbar-width: thin;
  scrollbar-color: $theme-color2 #F5F5F5;

	&::-webkit-scrollbar {
		width: 12px;
		background-color: #F5F5F5;
	}

	&::-webkit-scrollbar-track {
		-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
		border-radius: $theme-border-radius;
		background-color: #F5F5F5;
	}

	&::-webkit-scrollbar-thumb {
		border-radius: $theme-border-radius;
		-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
		background-color: $theme-color2;
	}
}
