.iframe {
  width: 100%;
  position: relative;
  max-width: 100%;

  // @media(max-width: 991px) {
  //   overflow: hidden;
  // }

  &--background {
    background: $very-light-gray;
  }

  &__element {
    width: 100%;
    height: 500px;
    
    @media(max-width: 767px) {
      height: 330px !important;
    }

    iframe {
      width: 100%;
      height: 100%;
      display: none;
    }
  }

  &__overlay {
    width: 100%;
    position: relative;
    height: 100%;
  }

  &__image {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    img {
      filter: brightness(0.96) contrast(1);
    }
  }

  &__decorated-image {
    position: absolute;
    width: 300px;
    top: -258px;
    right: 296px;
    transform: rotate(14deg);
    opacity: 0.05;

    @media(max-width: 991px) {
      right: 60px;
      max-width: 250px;
    }
  }

  &__link {
    &:before {
      display: block;
      content: '';
      position: absolute;
      right: 50%;
      bottom: 50%;
      transform: translateX(50%) translateY(50%);
      z-index: 3;
      background: url('./images/play-icon-psd.png') center/contain no-repeat;
      width: 90px;
      height: 90px;
      filter: brightness(0) invert(1);
      opacity: 0.9;
    }
  }
}