.two-columns-text {
  width: 100%;
  position: relative;

  &--background {
    background: $very-light-gray;
  }

  &__section-title {
    text-align: center;
    margin: 0 0 rem-calc(25);
  }

  &__column {
    &--right {
      @media(max-width: 767px) {
        margin: 20px 0 0;
      }
    }
  }

  p {
    &:first-of-type {
      margin: 0;
    }
  }
}